/**
* @stylesheet layout.less Layout
* @parent Styles.baseline-elements 3

* @description
* Layout classes are used to structure the main parts of a page.
**/

// Used to structure the main parts of a page, such as the header, the body, and the footer.
.container {
  width: 960px;
  margin: 0 auto;
}


//helpers
.clear {
  clear: both;
}
.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.pull-right, .pullright, .float-right, .floatright {
  float: right;
}
.pull-left, .pullleft, .float-left, .float-right {
  float: left;
}


