<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{makeParentTitle}} {{#if title}}- {{title}} {{else}} {{#if name}}- {{name}}{{/if}}{{/if}}</title>
	<meta name="description" content="">
	<meta name="author" content="">
  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	
		{{^devBuild}}
    	<link rel="stylesheet" type="text/css" href="./static/bundles/static.css">
  	{{/devBuild}}
</head>

<body>
	<header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{makeParentTitle}}</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="accessibility.html">Design</a></li>
            <li><a href="Overview.html">CSS</a></li>
            <li><a href="glyphicons.less.html">Components</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bitovi <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	</header>

	{{{content}}}
	
	<footer class="well">
	  Built by <a href="http://bitovi.com/">Bitovi</a> using <a href="http://documentjs.com/">DocumentJS</a>.
	</footer>
	
	<script type="text/javascript">
		var docObject = {{{docObjectString}}};
	</script>
	
	{{#if devBuild}}
		<script type='text/javascript' 
				data-main="static"
				data-config="./static/config.js"
				src="./static/steal/steal.js"></script>
	{{else}}

		<script type='text/javascript' 
				data-main="static"
				data-config="./static/config.js"
				src="./static/steal.production.js"
	    		bundles-path="bundles"></script>
	{{/if}}
</body>

</html>
